body {
    background-color: rgb(237,213,133);
    height: 100vh;
}
@keyframes bubble {
    to {
        transform: translateY(-5vh) scale(2);

    }
}
.bubble {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    border-radius: 50%;
    border-color: rgb(212, 54, 43);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    transform: translateY(100vh);
    animation-name: bubble;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}